* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#result {
  position: absolute;
  top: 32%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 700;

  transition: all 250ms ease-in-out;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  
  padding: 20px ;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
}


.score {
  border-bottom: 1px solid #ccc;
}

.reset {
  border: 1px solid #ccc;
  border-radius: 15px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}

.hand-box {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.hand-box img{
  width: 145px;
  height: 90%;
  padding: 25px 5px;
}

.line {
  height: 220px;
  width: 1px;
  background-color: #ccc;
}

.hand-list {
  width: 145px;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.you_hand,
.com_hand {
  display: flex;
  width: 435px;
  height: 220px;
}

.btn {
  display: flex;
  justify-content: center;
  
  margin-top: 20px;
}

.btn button {
  margin-right: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.btn button:hover {
background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.paper {
  margin: 0px;
}

button img{
  width: 50px;
}